*~
*.ali
*.o
*.db
*.out
*.log.*
*log.200*
*.orig
*.patch
**b~*
*.cache
*.log
*.so
alldifs
obj
bin
lcov_analyse
example_gen*.html
check_mem
check_mem.res
check_mem.run1
check_mem.run2
run1
run2
*tsrc*

