**b~*
*.ali
*.cache
*.db
*.log
*.log.*
*.o
*.orig
*.out
*.patch
*.so
*log.200*
*tsrc*
*~
.build
alldifs
bin
check_mem
check_mem.res
check_mem.run1
check_mem.run2
example_gen*.html
lcov_analyse
obj
run1
run2
