html {
       margin: 1em 7% 1em 7%;
       padding: 1em;
       background-color: rgb(20, 20, 20);
       font: 10pt "Trebuchet MS", Verdana, sans-serif;
       color: rgb(188, 188, 188);
}

body {
       padding: 2em;
       background-color: rgb(30, 30, 30);
       border-radius: 1em;
       -moz-border-radius: 1em;
       }

h1, h2, h3 {
     color: white;
}

h1 {
     text-align: center;
     }

a {
  padding: 2px;
  margin: 2px;
  text-decoration: none;
  color: #FF9966;
}

a:hover {
  color: white;
}

pre {
      overflow: auto;
      padding: 2em;
      background-color: rgb(40, 40, 40);
      border-radius: 1em;
      -moz-border-radius: 1em;
}

p {
text-alignment: justify;
}

.footdate { float: right; }

.eop, .endofpage{ clear: both; visibility: hidden; }

.package .title {
color:red;
}
.keyword {
font-weight:bold;
color:white;
}
.comment {
font-style:italic;
color:#a0bddb;
}
.string {
font-style:italic;
color:#B33333;
}

